body,
html,
*{
    font-size: 10;
    margin: ;
    background-color: #7799BB;
}
.price{
    text-align: center;
    font-size: 20px;
    background-color: #000000;
    margin-top: 10px;
    color: white;
}
.title {
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: #000000;
    margin-top: 20px;
}
.card {
    width: 22%;
    height: 500px;
    display: block;
    object-fit: cover;
    background-color: #CCCCCC;
    margin: 10px;
    padding: 15px;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;   
    width: 90vw;
    margin: 10px auto;
    background-color: #CCCCCC;
}