body,
html,
* {
  font-size: 10;
  margin: ;
  background-color: #0f2324;
  font-family: "DM Sans", sans-serif;
}
.price {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  color: white;
}
.title {
  text-align: center;
  font-size: 18px;
  color: white;
  margin-top: 20px;
}
.card {
  width: 22%;
  height: 500px;
  display: block;
  object-fit: cover;
  background-color: grey;
  margin: 10px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  width: 90vw;
  margin: 10px auto;
  background-color: #cccccc;
}
img {
  width: 86%;
  height: 350px;
  display: block;
  object-fit: cover;
  text-align: center;
  background-color: #ffffff;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: #000000;
  margin-top: 20px;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.05);
}
.button {
  display: block;
  margin: 0px auto;
  align-self: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 8 14px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #566ae5;
  font-weight: 700;
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
  direction: column;
  transform: translateY(-20px);
}
button:hover {
  box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
}
.cart {
  width: 22%;
  height: auto;
  display: block;
  object-fit: cover;
  background-color: grey;
  margin: 10px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.cart-item {
  text-align: center;
  width: auto;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  font-size: 15px;
}
.functionbybrand {
  text-align: center;
  width: auto;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  font-size: 15px;
}
